extends layout

block content
    div(class='container')
        table(class='table')
            th Name
            th Short name
            th Description
            th Phone number
            for faculty in faculties
                tr 
                    td #{faculty.name}
                    td #{faculty.short_name}
                    td #{faculty.info_faculty.description}
                    td #{faculty.info_faculty.phone_number}