extends layout

block content
    form(method='POST' action='/login')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text' name='login') 
        div.form-group
            label(for='password') Password:
            input#pw.form-control(type='password' name='password')
