extends layout

block content
    div(style="position: relative;")
        if (message)
            div(class="alert alert-danger" role="alert" style="text-align: center") #{message}

        form(method='POST' action='/login')
            div.form-group
                label(for='name') Name:
                input#name.form-control(type='text' name='login') 
            div.form-group
                label(for='password') Password:
                input#password.form-control(type='password' name='password')
            button.btn.btn-primary(style="float:left; margin-top: 1.5rem;" type='submit') Sign in
        br
        a(style="float:left; margin:0 10px;" href="/signup" class="btn btn-outline-warning active" role="button" aria-pressed="true") Sign up
            
