extends layout 

block head
    <link rel="stylesheet" href="general.css">

block content
    <div>
		<div class="col-md-6">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pl-3 pb-4">
						<h6 class="panel-title">Panel</h6>
					</div>
				</div>				
				<div class="col-sm-12 col-xs-12">
					<form>
						<div class="mb-2 input-groop-2">
							<div>
								<div>
									<label for = "input name 2">Username*</label>
								</div>
								<div>
									<i class="fa fa-user m-2"></i>
								</div>
								<div>
									<input class="pl-2" placeholder="Username" type="text" name="User Name 2" id="input name 2">
								</div>
							</div>
							<div>
								<div>
									<label for = "input address 2">Email Address</label>
								</div>
								<div>
									<i class="fa fa-envelope m-2"></i>
								</div>
								<div>
									<input class="pl-2" placeholder="Enter Email" type="text" name="Email Address 2" id="input address 2">
								</div>
							</div>
							<div>
								<div>
									<label for = "input Website">Website</label>
								</div>
								<div>
									<i class="fa fa-globe m-2"></i>
								</div>
								<div>
									<input class="pl-2" placeholder="Enter Website Name" type="text" name="Website" id="input Website">
								</div>
							</div>
							<div>
								<div>
									<label for = "input password 2">Password</label>
								</div>
								<div>
									<i class="fa fa-lock m-2"></i>
								</div>
								<div>
									<input class="pl-2" placeholder="Enter Pwd" type="password" name="Password 2" id="input password 2">
								</div>
							</div>	
							<div>
								<div>
									<label for = "confirm password 2">Re Password</label>
								</div>
								<div>
									<i class="fa fa-lock m-2"></i>
								</div>
								<div>
									<input class="pl-2" placeholder="Re Enter Pwd" type="password" name="Confirm Password 2" id="confirm password 2">
								</div>
							</div>					
						</div>
						<div class="mb-3 mt-3" align="center">
							<input type="checkbox" id="checkbox_2">
							<label for="checkbox_2" style="margin-left: 7px;">Check me out !</label>
						</div>
						<div align="center">						
							<button type="submit" class="form-button sign-in-button">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>