extends layout

block content
	//-script(src="/checkLogin.js")

	form(method='POST' action='/signup' id="registration")
		
		div(class="form-group row")
			label(for="inputLogin" class="col-sm-2 col-form-label") Login*
			p(style="color: red") !{text}
			div(class="col-sm-10")
				input#inputLogin.form-control(type="text" name="login" required class="form-control" placeholder="login")
		
		div(class="form-group row")
			label(for="inputEmail" class="col-sm-2 col-form-label") Email*
			div(class="col-sm-10")
				input#inputEmail.form-control(type="text" name="email" class="form-control" placeholder="email")
		
		div(class="form-group row")
			label(for="inputPassword" class="col-sm-2 col-form-label") Password*
			div(class="col-sm-10")
				input#inputPassword.form-control(type="password" name="password" class="form-control" placeholder="Password")
		
		div(class="form-group row")
			label(for="inputLastName" class="col-sm-2 col-form-label") Last name*
			div(class="col-sm-10")
				input#inputLastName.form-control(type="text" name="lastName" class="form-control")
		
		div(class="form-group row")
			label(for="inputFirstName" class="col-sm-2 col-form-label") First name*
			div(class="col-sm-10")
				input#inputFirstName.form-control(type="text" name="firstName" class="form-control")
		
		div(class="form-group row")
			label(for="inputMiddleName" class="col-sm-2 col-form-label") Middle name
			div(class="col-sm-10")
				input#inputMiddleName.form-control(type="text" name="middleName" class="form-control")

		div(class="form-group row")
			label(for="inputBirthday" class="col-sm-2 col-form-label") Birthday*
			div(class="col-sm-10")
				input#inputBirthday.form-control(type="date" name="birthday" class="form-control")

		div(class="form-group row")
			label(class="col-sm-2 col-form-label") Sex*
			div(class="col-sm-2")
				label(for="maleRadio" style="margin-right: 10px") Male
				input#maleRadio(type="radio" name="sex"  value="m")
			div(class="col-sm-2")
				label(for="femaleRadio" style="margin-right: 10px") Female
				input#femaleRadio(type="radio" name="sex" value="f")

		div(class="form-group row")
			label(for="inputPhone" class="col-sm-2 col-form-label") Phone
			div(class="col-sm-10")
				input#inputPhone.form-control(type="text" name="phone" class="form-control")
		div(class="form-group row")
			button.btn.btn-primary(class="col-sm-2" type='submit') Sign up

	script.
		$(document).ready(function(){
			$("form#registration").on('submit', function(e){
				e.preventDefault();
				var login = $('input[name=login]').val();
				$.ajax({
					type: 'post',
					url: '/users/check',
					data: login,
					dataType: 'text'
				})
				.done(function(data){
					alert("not unique login")
				});
			});
		});