extends layout

block content
    div(class='container')
        table.table
            th UserName
            th Roles
            th Name
            for user in users
                tr 
                    td 
                        a(href='/users/' + user.id) #{user.login}
                    td
                        for role in user.roles
                            span #{role.name}, 
                    td #{user.user_info.lastName} #{user.user_info.firstName}
